services:
  web:
    build: .
    command: uvicorn mlops-project.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/mlops_project
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mlops_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: